<div class="container">
  <div class="description">
    <h1>ブログ画面詳細</h1>
  </div>
  <div class="title">タイトル</div>
  <div class="title_text">
    <%= @blog.title %>
  </div>
  <div class="content">本文</div>
  <div class="content_text">
    <%= @blog.content %>
  </div>
  <%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
  <% end %>

  <div class="favorites">
    <% unless @blog.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
